.TestElement-header {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-secondary);
  padding: 0.8rem 1rem;
  border-radius: 7px;
  font-size: 1.3rem;
  font-weight: 600;
}

.TestElement-shareImage {
  filter: invert(1);
  cursor: pointer;

  &:hover {
    filter: contrast();
  }
}

.TestElement-questionsContainer {
  margin: 0 0.3rem;
  padding: 1rem 2rem;
  border-radius: 0 0 6px 6px;
  background-color: var(--color-tertiary);
}

.TestElement-question {
  margin-bottom: 0.4rem;
  padding-left: 0.4rem;
}

.TestElement-question-title {
  font-weight: 500;
}

.TestElement-question-instructions {
  max-width: 80%;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}
