.Asserts {
  height: 100%;
  background-color: var(--color-secondary);
  color: white;
}

.Asserts-codeEditor {
  height: calc(100% - 40px);
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.3rem;
  letter-spacing: 0.05rem;
}
