.CodeEditor {
  display: flex;
  height: 100vh;
  background-color: var(--color-primary);

  &--logged {
    height: calc(100vh - var(--size-topBar-height));
  }

  & textarea:focus {
    outline: none;
  }
}

.CodeEditor-sidebar {
  width: 35%;
  height: 100%;
  padding: 1rem;
}

.CodeEditor-inputQuestionNameContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--size-codeEditor-questionName);
}

.CodeEditor-inputQuestionName {
  width: 350px;
  max-width: 90%;
  padding: 0.3rem 0.7rem;
  background-color: var(--color-secondary);
  border-color: var(--color-tertiary);
  font-size: 1.3rem;
  color: white;
}

.CodeEditor-content {
  width: 65%;
  height: 100%;
}

.CodeEditor-editor {
  height: 60%;
  padding: 1rem 1rem 1rem 0;
}

.CodeEditor-asserts {
  height: calc(40% - 50px);
  padding: 0 1rem 1rem 0;
}

.CodeEditor-buttons {
  height: 50px;
  padding: 0 1rem;
  text-align: right;

  & > * {
    margin-left: 0.7rem;
  }
}

.CodeEditor-title {
  height: var(--size-codeEditor-title);
  padding: 0.6rem 1rem;
  font-size: 1rem;
  background-color: var(--color-tertiary);
}
