.ShareTestForm {
  padding: 2rem;
}

.ShareTestForm-title {
  margin-bottom: 2rem;
}

.ShareTestForm-inputsContainer input {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.4rem 0.7rem;
  font-size: 1.2rem;
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;
}
