.Instructions {
  width: 100%;
  height: 50%;
  position: relative;
  background: var(--color-secondary);
  font-size: 0.9rem;

  & textarea:focus {
    outline: none;
  }
}

.Instructions-textarea {
  height: calc(
    100% - var(--size-codeEditor-title) - var(--size-codeEditor-questionName)
  );
  width: 100%;
  padding: 1rem;
  resize: none;
  overflow: auto;
  border: 0;
  color: white;

  &:focus {
    outline: none;
  }
}
